#These are the env vars that you might have to add in production
#The commented env vars has the right default value for development

#Logger conf
#The default is a human readable console log
#ROOT_LOGGING_LEVEL=
#LOG_CONSOLE_JSON=
#LOG_DIR_JSON=
#LOG_DIR_HUMAN=

#DB conf
#POSTGRES_DB_URL=
#POSTGRES_DB_USER=
#POSTGRES_DB_PASSWORD=